<h1>Editing project_task</h1>

<%= form_for(@project_task) do |f| %>
  <% if @project_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_task.errors.count, "error") %> prohibited this project_task from being saved:</h2>

      <ul>
      <% @project_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id, :disabled => true %>
  </div>
  <div class="field">
  	<%= f.label :Task_Type %><br />
  	<%= f.text_field :taskType %>
  </div>
  <div class="field">
    <%= f.label :task_name %><br />
    <%= f.text_field :task_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Show', @project_task %> |
<%= link_to 'Back', project_tasks_path %>
