<%= javascript_include_tag 'jquery-1.6.2.min' %>
<%= javascript_include_tag 'jquery-ui-1.8.14.custom.min' %>
<%= javascript_include_tag 'jquery_ujs', 'application' %>
<%= javascript_include_tag "rails.validations" %>  
<%= javascript_include_tag "error_messages" %>	
<title>Change your password</title>
<%= form_for @user, :url => "/update_password", :html => { :method => :put }, :validate => true do |f| %>
	
  <p><%= f.label :current_password %> <br />
  <%= f.password_field :current_password %></p>
  
  <p><%= f.label :password %> <br /> 
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Update" %></p>
<% end %>