<%= javascript_include_tag 'jquery-1.6.2.min' %>
<%= javascript_include_tag 'jquery-ui-1.8.14.custom.min' %>
<%= javascript_include_tag 'jquery_ujs', 'application' %>
<%= javascript_include_tag "rails.validations" %>  
<%= form_for @contact, :validate => true do |f|%>
<div class="field">
	<b>Contact Name</b><br />
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label :position %><br />
	<%= f.text_field :position, :id => "tags1"%>
	<br />
</div>
<div class="field">
	<%= f.label :email %><br />
	<%= f.text_field :email %>
</div>
<div class="field">
	<%= f.label :telephone %><br />
	<%= f.text_field :telephone %>
</div>
<div class="field">
	<%= f.label :source %><br />
	<%= f.text_field :source %>
</div>
<div class="field">
	<b>Select a Company</b><br />
	<%= f.select(:company_id, Company.all.collect {|company| [company.name, company.id]}.sort{|a, b| a[0] <=> b[0]}, :prompt => "Select a Company") %>
</div>
<div class="actions">
	<%= f.submit %>
</div>
<% end %> 