<p id="notice"><%= notice %></p>


<p>
  <b>Name:</b>
  <%= @opportunity.name %>
</p>
<p>
  <b>Status:</b>
  <%= @opportunity.status %>
</p>
<p>
  <b>Sbustream:</b>
  <%= @opportunity.sbustream %>
</p>
<p>
  <b>Value:</b>
  <%= @opportunity.value %>
</p>
<p>
  <b>Daiowner:</b>
  <%= @opportunity.daiowner %>
</p>
<p>
  <b>Estdescisiondate:</b>
  <%= @opportunity.estdescisiondate %>
</p>
<p>
  <b>Companyname:</b>
  <%= @opportunity.companyname %>
</p>
<p>
  <b>Contacts:</b>
  <%= @opportunity.contacts %>
</p>